body{
  background-color: rgb(29, 26, 36);
}
.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0  auto;

  background-color: #cefff0;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 15px;
  border-radius:  5px;

}

.text-center{
  text-align: center;
}

.expense-container{
display: flex;
justify-content: space-around;
background-color: white;
box-shadow: 0 0 10px gray;
}

.transaction_list{
  margin: 0;
  padding: 0;

}

.transaction_list > li{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 5px;
  background-color: white;
  margin: 5px 0;
}

.transaction_form input{ 
  width: 100%;
  margin: 10px 0;
  padding: 5px 0 ;
}